:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';

}

body {
    
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: 16px;
    font-weight: 400;

}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("/img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;

}

.botao_secundario {
    background-color: transparent;
    border: solid 2px var(--branco-principal);
}

.container__botao {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    height: 700;
}